{% extends 'base.html.twig' %}

{% block title %}Blackjack Project - {{table.name}}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/main.js') }}" defer></script>
{% endblock %}


{% block body %}
<section id="game" data-table="{{table.id}}" data-game="{{game.id}}" data-minbet= {{table.minBet}} data-maxbet= {{table.maxBet}}>
    <div class="default-container">
        <h1>{{table.name}}</h1>
    </div>
    <section class="default-container">
        <h2> Dealer : </h2>
        <div id="dealer-container"></div>
    </section>
    <section id="result-container"></section>
    <section class="default-container">
    <h2> Player : </h2>
        <div class="players-container">
            <div id="hand"><button id="playButton" type="button">Jouer</button></div>
        </div>
    <section>
</section>
<div class="balance">
    <p><b>balance: {{balance}}</b></p>
</div>
{% endblock %}
