<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link href="{{ asset('css/main.css') }}" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                {% if app.user %}
                    <li><a class="nav-link" href="{{ path('logout') }}">logout</a></li>
                    <li><a class="nav-link" href="{{ path('app_table') }}">Tables</a></li>
                    {% if is_granted("ROLE_ADMIN") %}
                        <li><a class="nav-link" href="{{ path('admin') }}">Admin</a></li>
                    {% endif %}
                {% else %}
                    <li><a class="nav-link" href="{{ path('register') }}">register</a></li>
                    <li><a class="nav-link" href="{{ path('login') }}">login</a></li>
                {% endif %}
                    <li><a class="nav-link" href="{{ path('home') }}">home</a></li>
                    <li><a class="nav-link" href="{{ path('ranking') }}">Ranking</a></li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
