{% extends 'base.html.twig' %}

{% block title %}Blackjack Project - Tables{% endblock %}

{% block body %}
    <div class="default-container">
        <h1> Tables List </h1>
    </div>
    {% for table in tables%}
        <article class="default-container table-container">
            <h2>{{table.name}}</h2>
            <p>minimum bet: {{table.minBet}}</p>
            <p>maximum bet: {{table.maxBet}}</p>
            <p>number of decks: {{table.nbDecks}}</p>
            <p><a href="{{path("create_game", {id: table.id}) }}"> Play at the table </a></p>
            
            
            {% if app.user and is_granted("ROLE_ADMIN")%}
                <p><a href="{{path("edit_table", {id: table.id}) }}"> Edit table </a></p>
                <p><a href="{{path("delete_table", {id: table.id}) }}"> Delete table </a></p>
            {% endif %}
        </article>
    {% endfor %}
    <div class="default-container balance">
        <p><b>balance: {{balance}}</b></p>
    </div>
{% endblock %}
